<?xml version="1.0"?>
<launch>
 
        <include file="/home/xin/turtlebot3_ws/src/orbslam2_pointcloud_mapping-master/launch/Octomap.launch" />
	<include file="/home/xin/turtlebot3_ws/src/orbslam2_pointcloud_mapping-master/launch/transform.launch" />
   	<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d /home/xin/turtlebot3_ws/src/ORB_SLAM3_PRO/rviz/stereo.rviz" />

</launch>
